.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 255px;
    white-space: nowrap;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0s linear 0.3s;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      visibility: visible;
      transition: opacity 0.3s ease-in, visibility 0s linear 0s;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    .collection-footer {
      flex-direction: row;
      align-items: center;
    }
    .collection-footer {
      padding: 20px;
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      .name {
        width: 90%;
        margin-bottom: 0px;
      }

      .price {
        width: 10%;
      }
    }
  }
}
